version: "3"

services: 
  app:
    build:
      context: .
    ports: 
      - "8000:8000"
    volumes: 
      - static_data:/vol/web
    environment: 
      - DB_HOST=db
      - DB_NAME=app
      - DB_USER=postgres
      - DB_PASS=somerandompass
      - SECRET_KEY=BANKtechnologyCONSULTANTsecretKEY12345687
      - ALLOWED_HOSTS=banktechnology.co.uk,168.119.203.127
    depends_on: 
      - db

  db:
    image: postgres:10-alpine
    environment: 
      - POSTGRES_DB=app
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=somerandompass 
  
  proxy:
    build: 
      context: ./proxy
    volumes: 
      - static_data:/vol/static
    ports: 
      - "8080:8080"
    depends_on: 
      - app

volumes: 
  static_data: